@{
    ViewData["Title"] = "Home Page";
}
<div class=" text-center ">
    <a class="btn mx-3 btn-outline-success btn-lg" asp-controller="Student" asp-action="Search">ابحث عن خط</a>
    <a class="btn mx-3 btn-outline-primary btn-lg" asp-controller="Drivers" asp-action="Index">تسجيل خط</a>
</div>
